{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": [
      "error", {
        "code": 120,
        "ignoreUrls": true,
        "ignoreComments": true
      }
    ]
  },
  "plugins": [
    "babel",
    "import",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": [
          ".",
          "src/modules",
          "test/modules",
          "node_modules"
        ]
      }
    }
  }
}
